/*     .bg-custom {
        background-image: url('D:/workspace/angular workspace/AssignmentVijaySirFliterEcommerce/public/ecommerc02.png');
        background-size: cover;
        background-position: bottom;
        height: 750px;
        
    } */